<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">kinoSite</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li ng-class="[nav, {active: nav.home}]"><a href="#/">Home</a></li>
          <li ng-class="[nav, {active: nav.categories}]"><a ng-href="#/about">Categories</a></li>
          <li ng-class="[nav, {active: nav.settings}]"><a ng-href="#/settings">Settings</a></li>
          <li ng-class="[nav, {active: nav.login}]"><a ng-href="#/login">Login/Sign Up</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>